*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.55%;
}
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: #fff;
  box-sizing: border-box;
}

.swipe__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: orangered;
}
.swiper-slide {
  display: flex;
}
.swiper-slide .slider__img--box {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  z-index: 1;
  clip-path: circle(0 at center);
  transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.swiper-slide .slider__img--box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.slider__radio {
  position: relative;
  bottom: 3rem;
  z-index: 100;
  margin: 1rem;
  outline: none;
  display: flex;
}
.slider__radio:checked + .slider__img--box {
  clip-path: circle(100rem at center);
  z-index: 10;
}
.slider__content {
  max-width: 90rem;
  text-align: center;
  position: relative;
}
.slider__content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 600;
  letter-spacing: 5px;
}
.slider__content p {
  font-size: 2rem;
  text-align: left;
  font-weight: 200;
}
.slider__content .btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  margin: 3rem 0;
  background: #fff;
  color: #111;
  text-align: center;
  letter-spacing: 3px;
  transition: all 0.5s;
  font-weight: 400;
}
.btn:hover {
  transform: translateY(-10px);
}
.btn:active {
  transform: translateY(0px);
  transition: 0.2s;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  width: 100%;
  padding: 3rem 10rem;
}

.nav__logo {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #f2a20c;
}
.nav__icon {
  font-size: 3rem;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
  .slider__content {
    padding: 2rem;
  }
  nav {
    padding: 1rem;
  }
  .slider__radio:checked + .slider__img--box {
    clip-path: circle(50rem at center);
    z-index: 10;
  }
}
@media only screen and (min-width: 50em) {
  html {
    font-size: 60%;
  }
  .slider__content {
    padding: 3rem;
  }
  nav {
  }
  .slider__radio:checked + .slider__img--box {
    clip-path: circle(70rem at center);
    z-index: 10;
  }
}
@media only screen and (min-width: 43em) {
  .slider__content {
    padding: 3rem;
  }
}
